{% extends 'base_layout.html' %}

{% block content%}

<div class="w-100 full-height d-flex align-items-center main">
    <section class="container" id="profile">
        <div class="d-flex justify-content-center">
            <div class="section-title text-center">
                <h1 class="blue-text bolder">{{ request.session.name }}</h1>
                <h6 class="blue-text">{{ request.session.email }}</h6>
                <img class="profile-pic-enlarged" src="{{ request.session.picture }}">
            </div>
        </div>
        <div class="text-center margin-top-2">
            {% if donations %}
                <h4>Thank you for your donations in :</h4>
                {% for donation in donations %}
                    <div>
                        <div>
                            <a class="light-blue-text" href="{% url 'program:program_details' slug=donation.program.slug %}">{{ donation.program.name }}</a>
                        </div>
                        ${{ donation.amount }}            
                    </div>
                {% endfor %}
            {% else %}
                <h4>
                    Start donating and change the world now
                </h4>
            {% endif %}
        </div>
    </section>
</div>

{% endblock %}









