{% extends 'base_layout.html' %}

{% block content%}
    <div class="w-100 full-height white-bg d-flex align-items-center main">
        <section class="container" id="register">
            <div class="text-center">
                <div class="text-center section-title margin-top-7">
                    <h2 class="blue-text bolder">Register</h2>
                </div>
            </div>
            <h6 class="alert-text">{{ feedback }}</h6>
            <div class="blue-bg blue-border card">
                <div class="card-body row">
                    <div class="col-9">         
                        <form class="form-horizontal" id="regis-form" method="POST" action="{% url 'regisform:make_form' %}">
                            {% csrf_token %}
                            {% for field in regis_form.visible_fields %}
                            <div class="form-group row">
                                <label for="inputName" class="col-3 col-md-2 col-form-label text-right bold white-text">
                                    {{ field.label_tag }}
                                </label>
                                <div class="col-9 col-md-10">
                                    {{ field }}
                                </div>
                            </div>
                            {% endfor %}
                            <div class="form-group row">
                                <div class="col-9 col-md-10 ml-auto">
                                    <button type="submit" class="btn btn-primary white-text blue-bg bolder white-border submit-btn">Submit</button>
                                </div>
                            </div>
                        </form>
                        </div>
                    </div>
                </div>
        </section>
    </div>
{% endblock %}