{% extends 'base_layout.html' %}

{% load static from staticfiles %}

{% block content %}

<div class="w-100 full-height grey-bg d-flex align-items-center main">
    <section class="container" id="donate">
        <div class="text-center">
            <div class="text-center section-title margin-top-7">
                <h2 class="blue-text bolder">Donate</h2>
                <h4 class="blue-text bold">{{ program.name }}</h4>
            </div>
        </div>
        <h6 id="feedback" class="alert-text">{{ feedback }}</h6>
        <div class="blue-bg blue-border card">
            <div class="card-body row">
                <div class="col-9">         
                    <form class="form-horizontal" id="donation-form" method="POST" action="">
                        {% csrf_token %}
                        {% for field in form.visible_fields %}
                        <div class="form-group row">
                            <label for="inputName" class="col-6 col-md-3 col-form-label text-right bold white-text">
                                {{ field.label_tag }}
                            </label>
                            <div class="col-6 col-md-9">
                                {{ field }}
                            </div>
                        </div>
                        {% endfor %}
                        <div class="form-group row">
                            <div class="col-8 col-md-9 ml-auto">
                                <button id="submit-button" class="btn btn-primary white-text blue-bg bolder white-border submit-btn" onclick="createDonation()">Submit</button>
                            </div>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </section>
    </div>

{% endblock %}
