{% extends 'base_layout.html' %}

{% block content%}

<section class="full-height text-center white-text">
    <div class="section-title text-center half-height padded grey-bg">
        <h6>Sinar Perak presents</h6>
        <h1><a href="{% url 'landing_page:landing_page' %}" class="white-text section-title">CareShare</a></h1>
        <h5>
            CareShare is a crowd-funding application designed to allow everyone to donate their own fortune to 
            the ones that need it more. We encourage people to care, to share, and to deliver.
            With CareShare, we extend the reach of each of your hands. What once was beyond reach, now clicks away from 
            you. With the unfortunates in our minds, we developed CareShare for the sole purpose of helping. 
            By using our application, we hope you find yourself capable of giving, caring, and sharing. 
        </h5>
        <h5 class="bold margin-top-2">
            Thank you for joining CareShare to a better world.
        </h5>
        <br>
    </div>
    <div class="grey-grad-bg-divider"></div>
    <div class="black-text margin-top-2">
        <h1 class="margin-bot-1">They said..</h1>
        {% if form %}
        <div>
            <form class="site-form text-center margin-bot-1" id="donation-form" method="POST">
                {% csrf_token %}
                {% for field in form.visible_fields %}
                    <div>
                        {{ field }}
                    </div>
                {% endfor %}
                <button class="btn blue-bg white-text margin-top-2" onclick="createTestimony(event)" style="display:none;">Add</button>
            </form>
        </div>
        {% endif %}
        <div id="testimonies-holder">
            {% for testimony in testimonies %}
            <div>
                <h6> {{ testimony.submiter.username }}</h6>
                <h5 class="bold"> {{ testimony.testimony }} </h5>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}