{% extends 'base_layout.html' %}

{% load static from staticfiles %}

{% block content %}

<div class="w-100 full-height d-flex align-items-center main">
    <section class="container" id="programs">
        <div class="text-center">
            <div class="text-center section-title">
                <h2 class="blue-text bolder">{{ program.name }}</h2>
                {% csrf_token %}
                <a class="btn white-border blue-grad-bg white-text bolder" href="#" onclick="donate('{{program.slug}}')" class="card-link">Donate</a>
            </div>
        </div>
        <h6 class="black-text text-justify">{{ program.desc }}</h6>
        <h6 class="text-muted">by : {{ program.holder }}</h6>
        <br>
        <h5 class="light-blue-text bold">Total Donation : ${{ program.total_donation }}</h5>
        <h5 class="light-blue-text bold">Donors : {{ program.donations.all.count }}</h5>
        {% for donation in program.donations.all %}
            <div class="row justify-content-start">
                <div class="col-1"></div>
                <div class="col-3 text-left">
                    {% if donation.anon %}
                        Anonymous
                    {% else %}
                        {{ donation.donor.username }}
                    {% endif %}
                </div>
                <div class="col-1 text-left">
                    ${{ donation.amount }}
                </div>
            </div>
        {% endfor %}
    </section>
    
</div>
<div class="modal fade" id="DonateModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Log In Required</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>You need to be logged in to proceed :</p>
                <div class="d-flex align-items-center justify-content-center">
                    <div class="g-signin2" data-onsuccess="onSignIn"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn blue-grad-bg white-text" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
    
{% endblock %}
