{% extends 'base_layout.html' %}

{% load static from staticfiles %}

{% block content %}

<div class="w-100 full-height d-flex align-items-center main">
    <section class="container" id="programs">
        <div class="text-center">
            <div class="text-center section-title margin-top-7">
                <h2 class="blue-text bolder">Donation Programs</h2>
            </div>
        </div>
        {% for program in programs %}
            <div class="white-bg white-border card">
                <div class="card-body">
                    <h3 class="card-title blue-text">{{ program.name }}</h3>
                    <h6 class="card-subtitle mb-2 black-text text-justify">{{ program.snipped_desc }}</h6>
                    <h6 class="light-blue-text bold">Donors : {{ program.donations.all.count }}</h6>
                    <h6 class="light-blue-text bold">Total Donation : ${{ program.total_donation }}</h6>
                    <h6 class="text-muted light">by : {{ program.holder }}</h6>
                    <div>
                        <h6 class="text-right">
                            <a class="btn blue-border white-bg blue-text bolder" href="{% url 'program:program_details' slug=program.slug %}" class="card-link">Details</a>
                            {% csrf_token %}
                            <a class="btn white-border blue-grad-bg white-text bolder" href="#" onclick="donate('{{program.slug}}')" class="card-link">Donate</a>
                        </h6>
                    </div>
                </div>
            </div>
        {% endfor %}
    </section>
</div>

<div class="modal fade" id="DonateModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Log In Required</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>You need to be logged in to proceed :</p>
                <div class="d-flex align-items-center justify-content-center">
                    <div class="g-signin2" data-onsuccess="onSignIn"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn blue-grad-bg white-text" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}