#customBtn:hover {
    cursor: pointer;
}

span.label {
    font-family: serif;
    font-weight: normal;
}

span.icon {
    background: url('../img/googlesignin.png') transparent 5px 50% no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 42px;
    height: 42px;
}

span.buttonText {
    display: inline-block;
    vertical-align: middle;
    padding-left: 42px;
    padding-right: 42px;
    font-size: 14px;
}

#customBtnNav {
    color: white;
}

.signin-landing {
    display: inline-block;
    background: white;
    color: #444;
    width: 190px;
    border-radius: 5px;
    white-space: nowrap;
}