body {
    font-family: 'Lato', sans-serif;
    background-color: #ededed;
}

footer {
    margin-top: 4em;
}

.grey-bg {
    background-color: #1e2838;
}

.grey-grad-bg-divider {
    background-image: linear-gradient(to bottom, #1e2838,#ededed);
    min-height: 3vh;
}

#landing-page {
    background-image: url('../img/landing-bg.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
} 

.blue-grad-bg {
    background-image: linear-gradient(to top left, #5f2c82,#257775);
}

.page-title {
    margin-top: 1em;
    font-size: 4em;
}

.page-desc {
    margin: 3em auto 5em auto;
}

.navbar-dark .navbar-nav .nav-link {
    color: #ffffff;
}

.padded {
    padding : 4em;
    margin-bottom: 0 !important;
}

.testimony-fields {
    min-width: 40vw;
    text-align: center;
}

.white-text {
    color: #ffffff;
}

.widened-button {
    min-width: 12em;
    max-width: 20vw;
    margin: 1em auto 1em auto;
}

.white-text:hover {
    color: #ffffff;
    text-decoration: none;
}

.white-bg {
    background-color: #ffffff;
}

.white-border {
    border: 1px solid #ffffff;  
}

.blue-text {
    color: #003893;
}

.light-blue-text {
    color: #4286f4;
}

.light-blue-text:hover {
    color: #4286f4;
}

.blue-text:hover {
    color: #003893;
    text-decoration: none;
}

.light-blue-bg {
    background-color: #4286f4;
}

.blue-bg {
    background-color: #003893;
}

.light-blue-border {
    border: 1px solid #4286f4;
}

.blue-border {
    border: 1px solid #003893;
}

.black-text {
    color: #000000;
}

.alert-text {
    color: red;
}

.alert-text:hover {
    color:red;
}

.full-height {
    min-height: 100vh;
}

.half-height {
    min-height: 50vh;
}

li .active .active-ref {
    color: #f4ff28;
    font-weight: bolder;
}

.brand {
    font-weight: bolder;
    font-size: 1.2em;
}

.section-wrapper {
    position: static;
}

.overflow-hid {
    margin: 0;
    padding: 0;
}

.section-title {
    margin-bottom: 3em;
}

.margin-top-2 {
    margin-top: 2em;
}

.margin-top-7 {
    margin-top: 7em;
}

.margin-bot-1 {
    margin-bottom: 1em;
}

.card {
    margin-top: 2em;
    margin-bottom: 2em;
}

.light {
    font-weight: 100;
    font-size: 0.75em;
}

.bold {
    font-weight: bold;
}

.bolder {
    font-weight: bolder;
}

.italic {
    font-style: italic;
}

.underlined {
    text-decoration: underline;
}

.underlined:hover  {
    text-decoration: underline;
}

.rounded-edge {
    border-radius: 2em 2em 2em 2em;
}

.donators {
    max-width: 40vw;
}

.wrapped {
    margin : 0.5em auto;
    word-break: break-all; 
    word-wrap: break-word;
}

.profile-pic {
    border-radius: 50%;
    max-width: 1.5em;
    max-height: 1.5em;
    margin-left: 0.5em;
}

.profile-pic-enlarged {
    margin: 2em;
    max-height: 100%;
    border-radius: 50%;
}

#donation-list {
    border-left: 1px solid #4286f4;
}

#donation-list-ul {
    padding-left : 1em;
}

@media (max-width: 750px) {
    .section-title {
        margin-top:20vh;
    }

    .padded {
        margin-top: 0;
    }
}
