{% load static from staticfiles %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="google-signin-client_id" content="302110534751-9kjukh2b0rrhk1ssv2o55cgm4kllbm3q.apps.googleusercontent.com">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{{ page_title }}</title>
    <link rel="shortcut icon" href="{% static 'img/icon.png' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}" >
    <link rel="stylesheet" href="{% static 'styles/ctmButton.css' %}" >
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <script src="https://apis.google.com/js/platform.js"></script>
    <script>
        var login_url = "{% url 'donor_auth:login' %}";
        var logout_url = "{% url 'donor_auth:logout' %}";
        var is_auth_url = "{% url 'donor_auth:is_auth' %}";
    </script>
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="0">

{% if navs %}
    {% include 'header.html' %}
{% endif %}

{% block content %}
{% endblock %}

{% if footer %}
    {% include 'footer.html' %}
{% endif %}

    <div class="modal fade" id="LogInModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Logged In</h4>
                </div>
                <div class="modal-body">
                    <p id="log-greet"></p>
                </div>
                <div class="modal-footer">
                    <a href="{% url 'news:news_page' %}" class="btn btn-default">Continue</a>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://apis.google.com/js/api:client.js"></script>
    <script type="text/javascript" src="{% static 'smoothScroll.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/auth.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/validation.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/testimony.js' %}"></script>
</body>
</html>