<header class="sticky-top">
    <nav class="navbar navbar-expand-lg navbar-dark blue-grad-bg">
        <a class="navbar-brand" href="{% url 'landing_page:landing_page' %}"><span class="brand white-text">CareShare</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link bold white-text" href="{% url 'program:program_list' %}"><span class="active-ref">Programs</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link bold white-text" href="{% url 'news:news_page' %}"><span class="active-ref">News</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link bold white-text" href="{% url 'company_profile:about' %}"><span class="active-ref">About Us</span></a>
                </li>
                {% if request.session.user_id %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle bolder white-text" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="active-ref">{{ request.session.name }}</span>
                        <img class="profile-pic" src="{{ request.session.picture }}">
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% csrf_token %}
                        <a class="dropdown-item bold black-text" href="{% url 'user_profile:user_profile' %}">Profile</a>
                        <a class="dropdown-item bold black-text" href="#" onclick="signOut()"><span class="active-ref">Sign Out</span></a>
                    </div>
                </li>
                {% else %}
                <li class="nav-item">
                    {% csrf_token %}
                    <div id="gSignInWrapper">
                        <div id="customBtn" class="customGPlusSignIn">
                            <span class="nav-link bolder white-text">Sign In</span>
                        </div>
                    </div>      
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>